<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Chopper</title>
    <link href="//maxcdn.bootstrapcdn.com/bootswatch/3.3.4/yeti/bootstrap.min.css" rel="stylesheet">
  <head>
  <body>
    <nav class="navbar navbar-default navbar-static-top">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#chopper_admin_navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/admin">
            Chopper Admin
          </a>
        </div>
      </div>
    </nav>
    <div class="container-fluid main-container">
      <div class="col-md-2 sidebar">
        <ul class="nav nav-pills nav-stacked">
          <li><a href="/admin/stomp_messages">STOMP Messages</a></li>
          <li><a href="/admin/db_status">Database Status</a></li>
        </ul>
      </div>
      <div class="col-md-10">
        <%= yield %>
      </div>
      <footer class="pull-left footer">
        <p class="col-md-12">
          <hr class="divider">
          Chopper Admin
        </p>
      </footer>
    </div>
  </body>
</html>
